<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIUB Notice Bell</title>

    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155073814-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-155073814-1');
    </script>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registration</h2>
                        <form method="POST" class="needs-validation" novalidate action="/" class="register-form" id="register-form" novalidate action="/">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Full Name (AIUB Format)"  autofocus/>
                                {% if(error.name) %}
                                    <p style="color:red;">{{error.name.msg}}</p>
                                {% endif %}
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your Name is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account-add material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username (Unique)" />
                                {% if(error.username) %}
                                    <p style="color:red;">{{error.username.msg}}</p>
                                {% endif %}
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your Username is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" />
                                {% if(error.email) %}
                                    <p style="color:red;">{{error.email.msg}}</p>
                                {% endif %}
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your Email is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone-in-talk"></i></label>
                                <input type="phone" name="phone" id="phone" placeholder="Your Phone No : Ex 017XXXXXXXX" />
                                {% if(error.phone) %}
                                    <p style="color:red;">{{error.phone.msg}}</p>
                                {% endif %}
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your Phone-Number is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="label-agree-term">I am &nbsp;</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="gender" value="male" id="male" class="agree-term" checked />
                                    <label for="male" class="label-agree-term">&nbsp;&nbsp;<i class="zmdi zmdi-male-alt"></i>&nbsp;&nbsp;Male</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="gender" value="female" id="female" class="agree-term" />
                                    <label for="female" class="label-agree-term">&nbsp;&nbsp;<i class="zmdi zmdi-female"></i>&nbsp;&nbsp;Female</label>
                                </div>
                            </div>
                                                  
                            <div class="form-group form-button">
                                <input type="submit" name="subscribe" id="subscribe" class="form-submit" value="Subscribe"/>
                            </div>
                            <br>
                        </form>
                    </div>

                    <div class="signup-image">
                        <figure><img src="assets/images/anb-logo5.png" alt="ANB-logo"></figure>
                        <a href="#" class="signup-image-link">About This Project</a>
                        <a href="#" class="signup-image-link">Unsubscribe The service</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Developed with <i class="zmdi zmdi-coffee"></i> by <a href="https://ahmedalif.com" target="_blank">Alif</a></p>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
            'use strict'

            window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                    }, false)
                })
            }, false)
            }())
      </script>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Particle JS -->
    <div id="particles-js"></div>
    <script type="text/javascript" src="assets/particle-js/particles.js"></script>
    <script type="text/javascript" src="assets/particle-js/app.js"></script>
    
</body>
</html>